#------------------------------------------------------------------------------
# SPEC CPU2017 config file for: gcc / g++ / gfortran on Linux x86 systems
#------------------------------------------------------------------------------
#
# Usage: (1) Copy this to a new name
#             cd $SPEC/config
#             cp Example-x.cfg myname.cfg
#        (2) Change items that are marked 'EDIT' (search for it)
#
# This x86 variant is adapted from the supplied ARM configuration.
# Its architecture-specific options require validation on the x86 runner.
#
# If your system differs, this config file might not work.
# You might find a better config file at http://www.spec.org/cpu2017/results
#
# Known Limitations
#     It is possible that you might encounter compile time or run time errors
#     with older versions of GCC (for example, 4.x)
#     Recommendation: Use a newer version of the compiler.
#                     If that is not possible, try reducing the optimization.
#
#
# Compiler issues: Contact your compiler vendor, not SPEC.
# For SPEC help:   http://www.spec.org/cpu2017/Docs/techsupport.html
#------------------------------------------------------------------------------

%ifndef %{label}
%   define label 14.4.0-base
%endif

%ifndef %{group}
%   define group gnu
%endif

%ifndef %{core_dist}
%   define core_dist 1
%endif

%ifndef %{cores}
%   define cores 96
%endif

%ifndef %{start_core}
%   define start_core 0
%endif

%ifndef %{type}
%   define copies 1
%else
%if %{type} eq '1c1t'
%   define copies 1
%elif %{type} eq '1c2t'
%   define copies 2
%elif %{type} eq 'mc1t'
%   define copies %{cores}
%elif %{type} eq 'mc2t'
%   define copies %{cores} * 2
%endif
%endif

# Don't change this part.
%define    os           LINUX
%define bits 64
%if %{bits} == 64
%   define model        -m64
%elif %{bits} == 32
%   define model        -m32
%else
%   error Please define number of bits - see instructions in config file
%endif

#--------- Global Settings ----------------------------------------------------
# For info, see:
#            https://www.spec.org/cpu2017/Docs/config.html#fieldname
#   Example: https://www.spec.org/cpu2017/Docs/config.html#tune

label                = %{label}
command_add_redirect = 1
flagsurl             = $[top]/config/flags/gcc.xml
ignore_errors        = 1
iterations           = 1
line_width           = 1020
log_line_width       = 1020
makeflags            = -j
mean_anyway          = 1
output_format        = txt
preenv               = 1
reportable           = 0
tune                 = base
backup_config        = false
output_root          = %{top}/result/%{group}/%{label}


#--------- How Many CPUs? -----------------------------------------------------
# Both SPECrate and SPECspeed can test multiple chips / cores / hw threads
#    - For SPECrate,  you set the number of copies.
#    - For SPECspeed, you set the number of threads.
# See: https://www.spec.org/cpu2017/Docs/system-requirements.html#MultipleCPUs
#
#    q. How many should I set?
#    a. Unknown, you will have to try it and see!
#
# To get you started, some suggestions:
#
#     copies - This config file defaults to testing only 1 copy.   You might
#              try changing it to match the number of cores on your system,
#              or perhaps the number of virtual CPUs as reported by:
#                     grep -c processor /proc/cpuinfo
#              Be sure you have enough memory.  See:
#              https://www.spec.org/cpu2017/Docs/system-requirements.html#memory
#
#     threads - This config file sets a starting point.  You could try raising
#               it.  A higher thread count is much more likely to be useful for
#               fpspeed than for intspeed.
#
intrate,fprate:
   copies           = %{copies}   # EDIT to change number of copies (see above)
intspeed,fpspeed:
   threads          = 8   # EDIT to change number of OpenMP threads (see above)

intrate,fprate:
submit0 = ulimit -s unlimited
%ifdef %{type}
% if %{core_dist} == 1
%  if %{type} eq 'mc1t'
submit1 = bindcore=\$(expr $SPECCOPYNUM '*' 2 + %{start_core})
submit2 = numactl --localalloc -C \$bindcore -- $command
%  else
submit1 = bindcore=\$(expr $SPECCOPYNUM + %{start_core})
submit2 = numactl --localalloc -C \$bindcore -- $command
%  endif
% else
%  if %{type} eq '1c2t' || %{type} eq 'mc2t'
submit1 = used_cores=\$(expr %{copies} / 2)
submit2 = part=\$(expr $SPECCOPYNUM '>=' \$used_cores)
submit3 = offset=\$(expr %{core_dist} - \$used_cores)
submit4 = bindcore=\$(expr $SPECCOPYNUM + \$offset '*' \$part + %{start_core})
submit5 = numactl --localalloc -C \$bindcore -- $command
%  else
submit1 = bindcore=\$(expr $SPECCOPYNUM + %{start_core})
submit2 = numactl --localalloc -C \$bindcore -- $command
%  endif
% endif
%else
submit1 = bindcore=\$(expr $SPECCOPYNUM + %{start_core})
submit2 = numactl --localalloc -C \$bindcore -- $command
%endif

#------- Compilers ------------------------------------------------------------
default:
#  EDIT: The parent directory for your compiler.
#        Do not include the trailing /bin/
#        Do not include a trailing slash
#  Examples:
#   1  On a Red Hat system, you said:
#      'yum install devtoolset-6'
#      Use:                 %   define gcc_dir /opt/rh/devtoolset-6/root/usr
#
#   2  You built GCC in:                       /disk1/mybuild/gcc-8.1.0/bin/gcc
#      Use:                 %   define gcc_dir /disk1/mybuild/gcc-8.1.0
#
#   3  You want:                               /usr/bin/gcc
#      Use:                 %   define gcc_dir /usr
#      WARNING: See section
#      "Known Limitations with GCC 4"
#
%ifndef %{gcc_dir}
%   define  gcc_dir        /home/hzf/tools/gnu-gcc/12.3.0
%endif

# EDIT if needed: the preENV line adds library directories to the runtime
#      path.  You can adjust it, or add lines for other environment variables.
#      See: https://www.spec.org/cpu2017/Docs/config.html#preenv
#      and: https://gcc.gnu.org/onlinedocs/gcc/Environment-Variables.html
   preENV_LD_LIBRARY_PATH  = %{gcc_dir}/lib64:%{gcc_dir}/lib:/lib64
   SPECLANG                = %{gcc_dir}/bin
   CC                      = $(SPECLANG)/gcc     -std=c99   %{model}
   CXX                     = $(SPECLANG)/g++     -std=c++03 %{model}
   FC                      = $(SPECLANG)/gfortran           %{model}
   # How to say "Show me your version, please"
   CC_VERSION_OPTION       = -v
   CXX_VERSION_OPTION      = -v
   FC_VERSION_OPTION       = -v

default:
%if %{bits} == 64
   sw_base_ptrsize = 64-bit
   sw_peak_ptrsize = 64-bit
%else
   sw_base_ptrsize = 32-bit
   sw_peak_ptrsize = 32-bit
%endif


#--------- Portability --------------------------------------------------------
default:   # data model applies to all benchmarks
%if %{bits} == 32
    # Strongly recommended because at run-time, operations using modern file
    # systems may fail spectacularly and frequently (or, worse, quietly and
    # randomly) if a program does not accommodate 64-bit metadata.
    EXTRA_PORTABILITY = -D_FILE_OFFSET_BITS=64
%else
    EXTRA_PORTABILITY = -DSPEC_LP64
%endif

# Benchmark-specific portability (ordered by last 2 digits of bmark number)

500.perlbench_r,600.perlbench_s:  #lang='C'
%if %{bits} == 32
%   define suffix X86
%else
%   define suffix X64
%endif
   PORTABILITY    = -DSPEC_%{os}_%{suffix}

521.wrf_r,621.wrf_s:  #lang='F,C'
   CPORTABILITY  = -DSPEC_CASE_FLAG
   FPORTABILITY  = -fconvert=big-endian

523.xalancbmk_r,623.xalancbmk_s:  #lang='CXX'
   PORTABILITY   = -DSPEC_%{os}

526.blender_r:  #lang='CXX,C'
   PORTABILITY   = -funsigned-char -DSPEC_LINUX

527.cam4_r,627.cam4_s:  #lang='F,C'
   PORTABILITY   = -DSPEC_CASE_FLAG

628.pop2_s:  #lang='F,C'
   PORTABILITY   = -DSPEC_CASE_FLAG -fconvert=big-endian


#-------- Tuning Flags common to Base and Peak --------------------------------

#
# Speed (OpenMP and Autopar allowed)
#
%if %{bits} == 32
   intspeed,fpspeed:
   #
   # Many of the speed benchmarks (6nn.benchmark_s) do not fit in 32 bits
   # If you wish to run SPECint2017_speed or SPECfp2017_speed, please use
   #
   #     runcpu --define bits=64
   #
   fail_build = 1
%else
   intspeed,fpspeed:
      EXTRA_OPTIMIZE = -fopenmp -DSPEC_OPENMP
   fpspeed:
      #
      # 627.cam4 needs a big stack; the preENV will apply it to all
      # benchmarks in the set, as required by the rules.
      #
      preENV_OMP_STACKSIZE = 120M
%endif


#--------  Baseline Tuning Flags ----------------------------------------------
#
default=base:         # flags for all base
   OPTIMIZE         = -O3
   EXTRA_COPTIMIZE  = -fno-strict-aliasing -fgnu89-inline -fcommon
